@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Merriweather:wght@900&display=swap');

/* Fonts
font-family: 'Fira Sans', sans-serif;
font-family: 'Merriweather', serif;
*/

.App {
  min-height: 84vh;
  margin-bottom: 0 !important;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar,
.navbar-default {
    background-image: linear-gradient(to top, rgb(141, 96, 0), rgb(255, 190, 137)) !important;
    text-shadow: 2px 4px 5px rgb(53, 35, 2); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Merriweather', serif;
  }

  footer {
    background-image: linear-gradient(to top, rgb(141, 96, 0), rgb(255, 190, 137)) !important;
    text-shadow: 2px 4px 5px rgb(53, 35, 2); 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Merriweather', serif;
    color: rgb(0, 0, 0);
    max-height: 70px;
  }

  footer em {
    color: rgb(0, 0, 0);
    font-size: calc(3px + 2vmin);
  }

  span.profiles img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 4px;
    border: 3px solid rgb(134, 72, 2); 
    box-shadow: 2px 4px 5px rgb(0, 0, 0);
}

main {
  /* background-color: rgb(255, 157, 45);
  background-image: linear-gradient(to bottom, saddlebrown, antiquewhite) !important; */
  background-color: #f5d3c8;
  background-image: linear-gradient(to top, #f5d3c8 0%, #c08552 74%);
}

.textShadow {
  text-shadow: 2px 4px 5px rgb(53, 35, 2); 
}

.boxShadow {
  box-shadow: 2px 4px 5px rgb(0, 0, 0);
}

.jumbo {
     
  background-color: #f5d3c8;
  background-image: linear-gradient(to top, #f5d3c8 0%, #c08552 74%);
}

